
*.h

myApp/platforms/.DS_Store

myApp/platforms/.DS_Store

myApp/platforms

myApp/plugins

myApp/.DS_Store
myApp/ionic.project
myApp/ionic.project

myApp/.DS_Store

myApp/www/.DS_Store

myApp/hooks/after_platform_add/010_install_plugins.js

myApp/hooks/after_plugin_add/010_register_plugin.js

myApp/hooks/after_plugin_rm/010_deregister_plugin.js

myApp/node_modules/sendgrid/node_modules/.bin/mime

myApp/node_modules/sendgrid/node_modules/request/node_modules/.bin/har-validator

myApp/node_modules/sendgrid/node_modules/request/node_modules/.bin/uuid

myApp/node_modules/sendgrid/node_modules/request/node_modules/har-validator/node_modules/chalk/node_modules/.bin/has-ansi

myApp/node_modules/sendgrid/node_modules/request/node_modules/har-validator/node_modules/chalk/node_modules/.bin/strip-ansi

myApp/node_modules/sendgrid/node_modules/request/node_modules/har-validator/node_modules/chalk/node_modules/.bin/supports-color
*.zip
myApp/bower_components/*
*.node
*.obj
*.lastbuildstate
*.tlog
*.pdb
myApp/www/css/ionic.app.css
myApp/www/css/ionic.app.css
myApp/www/css/ionic.app.css
*.css
myApp/www/js/.DS_Store
*.json

myApp/circle-start-scheduler.js
*.DS_Store
myApp/config.xml
*.xml

myApp/sendgrid.js
