
*.h

myApp/platforms/.DS_Store

myApp/platforms/.DS_Store

myApp/platforms

myApp/plugins

myApp/.DS_Store
myApp/ionic.project
myApp/ionic.project

myApp/.DS_Store

myApp/www/.DS_Store

myApp/hooks/after_platform_add/010_install_plugins.js

myApp/hooks/after_plugin_add/010_register_plugin.js

myApp/hooks/after_plugin_rm/010_deregister_plugin.js

myApp/npm-debug.log
