<ion-view view-title="Additional Security">
	<ion-content padding="false">
	  	
      		<div class="card">

			<div class="item item-divider-ios">
				Security Question
			</div>
			<div class="item" ng-repeat="act in result.data">
				{{act.mfa}}
			</div>
		</div>


		<div class="card">
			<form ng-submit="authStep(user)"> 
			<div class="item item-divider-ios">
				Your Response
			</div>
			<label class="item item-input">
			<input ng-model="user.answer" type="text" placeholder="Answer" ng-required="true">
			</label>
			
			<button type="submit" class="button button-block button-balanced">SUBMIT</button> 
			
	
			</form>
		</div>
		  

	</ion-content>
</ion-view>