<ion-view view-title="Identity Verification">
    <ion-content class="pageBG" padding="true">
    	<br>
    	<p align="center" style="color: #595858"><b>We need the following information for verifying your identity. This is to be compliant with fraud prevention laws.</b></p>
    	<br>
    	<div class="card">
	    	<div class="item item-divider item-text-wrap">
                Upload your picture
            </div>
            <label class="item item-avatar" ng-click="selectPicture()">
              <img ng-src="{{imageSrc}}">
              <h2>Has to be your picture</h2>
		      <p>Add photo</p>
            </label>
            <div class="item item-divider item-text-wrap">
                Date of birth
            </div>
            <label class="item item-input">
                <input ng-model="user.month" type="number" placeholder="MM" ng-required="true">
            </label>
            <label class="item item-input">
                <input ng-model="user.day" type="number" placeholder="DD" ng-required="true">
            </label>
            <label class="item item-input">
                <input ng-model="user.year" type="number" placeholder="YYYY" ng-required="true">
            </label>
            <div class="item item-divider item-text-wrap">
                Last 4 digits of SSN
            </div>
            <label class="item item-input">
                <input ng-model="user.ssn" type="number" placeholder="XXXX" ng-required="true">
            </label>
            <div class="item item-divider item-text-wrap">
                Address
            </div>
            <label class="item item-input">
                <input ng-model="user.street" type="text" placeholder="Street" ng-required="true">
            </label>
            <label class="item item-input">
                <input ng-model="user.city" type="text" placeholder="City" ng-required="true">
            </label>
            <label class="item item-input">
                <input ng-model="user.zip" type="tel" placeholder="Zipcode" ng-required="true">
            </label>
        </div>
        <br>
        <div class="row">
	        <div class="col">
		        <i class="icon ion-ios7-locked-outline my-icon"></i>
	        </div>
	        <div class="col col-90">
		        <p align="justify" style="color: #595858">The information you provide on this page is solely for identity verification only.</p>
	        </div>
        </div>
		<br> 
        <button ng-click="validateUser(user)" class="button button-block button-balanced">Verify</button>        
    </ion-content>
</ion-view>