<ion-view hide-nav-bar="true" view-title="Welcome">
	<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
	  <ion-slide class="scroll-bg">
	  </ion-slide>
	  <ion-slide class="scroll-bg">
	  </ion-slide>
	  <ion-slide class="scroll-bg">
	  </ion-slide>
	</ion-slide-box>
<div class="bar bar-footer bar-balanced">
  <a href="#/signin" class="button button-clear">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>YC, Click Here to Sign In</b></a>
  <a href="#/signup" class="button button-clear pull-right"><b>Sign Up&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b></a>
</div>
</ion-view>

<!--
<ion-view hide-nav-bar="true" view-title="Welcome">
    <ion-content padding="true">
        <div class="list card">
            <a href="#/signin" class="item item-icon-left">
                <i class="icon ion-thumbsup"></i> You're Back! :)
                <h3 style="color: blue">Sign In</h3>
            </a>
            <a href="#/signup" class="item item-icon-left">
                <i class="icon ion-heart"></i> Don't have an Account?
                <h3 style="color: blue">Sign Up</h3>
            </a>
        </div>
    </ion-content>
</ion-view>
-->