<ion-view view-title="Welcome">

    <ion-content>

        <div class="list card">

            <a href="#/signin" class="item item-icon-left">
                <i class="icon ion-thumbsup"></i> You're Back! :)
                <h3 style="color: blue">Sign In</h3>
            </a>

            <a href="#/signup" class="item item-icon-left">
                <i class="icon ion-heart"></i> Don't have an Account?
                <h3 style="color: blue">Sign Up</h3>
            </a>

            <a href="#/tab/dash" class="item item-icon-left">
                <i class="icon ion-beer"></i> Founders?
                <p style="color: blue" style="font-size: x-large">Skip for now</p>
            </a>

        </div>
    </ion-content>

</ion-view>