<ion-view view-title="New Request">
    </ion-header-bar>
    <ion-content>
    	<div align="center" style="padding: 10px; margin: 10px 10px 10px 10px; background-color: transparent; border-radius: 5px; border: 0px solid #777777" ng-if="!circle.requestsExpired && counter">
	        <p style="color: #555555; font-size: large;"><span style="font-size: xx-large; padding-right: 5px">💣</span>This request expires in</p>
			<span style="color: #555555; font-size: 21px;">{{counter}}</span>
        </div>
		<div class="card">		
		    <div class="item item-thumbnail-left item-text-wrap">
			    <img src="{{circle.circlePhoto  || getInitials(circle.circleName)}}">
			    <div class="row row-center">
		    	<div class="col" ng-if="circle.contacts.length==1"><b>{{circle.circleName}}</b> with <b>{{circle.invitorName}}</b></div>
		    	<div class="col" ng-if="circle.contacts.length>1"><b>{{circle.circleName}}</b> with <b>{{circle.invitorName}}</b> and {{circle.contacts.length}} others</div>
			    </div>
		    </div>
			<div class="item">
		      <b>Invitees</b> <p ng-repeat="contact in circle.contacts">{{contact.name}}</p>
		    </div>
		    <div class="item">
		      <b>How Much &nbsp</b> <p> ${{circle.amount}} {{circle.plan}}</p>
		    </div>
		    <div class="item item-text-wrap" ng-if="circle.circleType=='Singular'">
		      <b>Group Type &nbsp</b> <p><b style="color: #333333">Captain Group</b>: {{circle.invitorName}} is the Admin for this Group. The Pooled Amount for this group will go to {{circle.invitorName}} {{circle.plan}}.</p>
		    </div>
		    <div class="item item-text-wrap" ng-if="circle.circleType=='Rotational'">
		      <b>Group Type &nbsp</b> <p><b style="color: #333333">Crew</b>: Everyone gets a shot at being the Captain. The Pooled Amount will go to a randomly chosen person in this Group {{circle.plan}}. Every member gets the Pool Amount once.</p>
		    </div>
		    <div class="item item-text-wrap">
		      <b>Message To The Group &nbsp</b> <p>{{circle.groupMessage}}</p>
		    </div>
		</div>
		<div class="row">
		  	<div class="col">
			  <button ng-if="!circle.requestsExpired" class="button button-block button-balanced" ng-click="onAccept()">
			  Accept
			  </button>
			</div>
			<div class="col">
			  <button ng-if="!circle.requestsExpired" class="button button-block button-outline button-balanced" ng-click="onDecline()">
			  Decline
			  </button>
			</div>
		</div>
    </ion-content>
</ion-view>
