<ion-view view-title="Reset Password">
    <ion-content class="padding">
        <ion-list>
            <div class="list list-inset">
                <p><b>Old Password</b></p>
                <label class="item item-input">
                   <input ng-model='user.oldpassword' type="password" placeholder="********">
                </label>
            </div>
        </ion-list>
        <ion-list>
            <div class="list list-inset">
                <p><b>New Password</b></p>
                <label class="item item-input">
                   <input ng-model='user.newpassword' type="password" placeholder="********">
                </label>
            </div>
        </ion-list>
        <ion-list class="padding">
            <div class="list">
                <button class="button button-block button-balanced" ng-click="passwordChange()">Change Password</button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>