<ion-view view-title="Sign In">
    <ion-content class="padding">
        <ion-list>
            <div class="list list-inset">
                <p><b>Email</b></p>
                <label class="item item-input">
                    <input ng-model='user.email' type="text" placeholder="john@funnymail.com">
                </label>
            </div>
        </ion-list>

        <ion-list>
            <div class="list list-inset">
                <p><b>Password</b></p>
                <label class="item item-input">
                    <input ng-model='user.password' type="password" placeholder="********">
                </label>
            </div>
        </ion-list>

        <ion-list class="padding">
            <div class="list">
                <button class="button button-block button-balanced" ng-click="validateUser()">Sign In</button>
            </div>
        </ion-list>

    </ion-content>
</ion-view>