<ion-view view-title="Sign Up">
    <ion-content class="padding">
        <ion-list>
            <div class="list list-inset">
                <p><b>First Name</b></p>
                <label class="item item-input">
                    <input ng-model='account.firstname' type="text" placeholder="John">
                </label>
            </div>
        </ion-list>

        <ion-list>
            <div class="list list-inset">
                <p><b>Last Name</b></p>
                <label class="item item-input">
                    <input ng-model='account.lastname' type="text" placeholder="Ramalingappa">
                </label>
            </div>
        </ion-list>

        <ion-list>
            <div class="list list-inset">
                <p><b>Email</b></p>
                <label class="item item-input">
                    <input ng-model='account.email' type="text" placeholder="something@something.com">
                </label>
            </div>
        </ion-list>
        
        <ion-list>
            <div class="list list-inset">
                <p><b>Phone</b></p>
                <label class="item item-input">
                    <input ng-model='account.phonenumber' type="tel" placeholder="7778888999">
                </label>
            </div>
        </ion-list>
        
        <ion-list>
            <div class="list list-inset">
                <p><b>Password</b></p>
                <label class="item item-input">
                    <input ng-model='account.password' type="password" placeholder="**********">
                </label>
            </div>
        </ion-list>
		<ion-list>
           <div class="list list-inset item-text-wrap">
                <ion-checkbox ng-model="isChecked"> I agree with the terms and conditions <a href = "http://walletbuddies.co/TOS/TOS.pdf">[Terms and Conditions] </a>for details.</ion-checkbox>
           </div>
       </ion-list>
        <ion-list class="padding">
            <div class="list">
                <button class="button button-block button-balanced" ng-click="addAccount(account)">Create Account</button>
            </div>
        </ion-list>

    </ion-content>
</ion-view>