 <ion-view view-title="New Circle">
    <ion-content>
    <form name="signinForm" novalidate="" ng-submit="signIn(signinForm)">
        <ion-list class="padding">
            <div class="list">
                <label class="item item-avatar" ng-click="selectPicture()">
                  <img ng-src="{{imageSrc}}">
			      <h2>Circle Photo</h2>
			      <p>Select a photo</p>
                </label>
            </div>

            <div class="list">
	            <p><b>&nbsp&nbspGive your circle a name</b></p>
                <label class="item item-input" ng-class="{ 'has-error-lr' : signinForm.groupName.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.groupName.$valid  && signinForm.$submitted}">
                    <input ng-model='user.groupName' name="groupName" type="text" placeholder="Eg. Sunday Brunch" required>
                </label>
            </div>

            <div class="list">
	            <p><b>&nbsp&nbspPick your plan</b></p>
                <label class="item item-input item-select" ng-class="{ 'has-error-lr' : signinForm.plan.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.plan.$valid  && signinForm.$submitted}">
                    <div class="input-label">
                        <p>Click to select a plan</p>
                    </div>
                    <select ng-model='user.plan' name="plan" required>
                        <option>weekly</option>
                        <option>biweekly</option>
                        <option>monthly</option>
                    </select>
                </label>
            </div>

            <div class="list">
                <p><b>&nbsp&nbspSet your payment amount</b></p>
                <label class="item item-input" ng-class="{ 'has-error-lr' : signinForm.amount.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.amount.$valid  && signinForm.$submitted}">
                    <input ng-model='user.amount' name="amount" type="tel" placeholder="$ 50.00" required>
                </label>
            </div>

            <div class="list">
                <p><b>&nbsp&nbspSay something to your buddies</b></p>
                <label class="item item-input" ng-class="{ 'has-error-lr' : signinForm.groupMessage.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.groupMessage.$valid  && signinForm.$submitted}">
                    <textarea ng-model='user.groupMessage' name="groupMessage" placeholder="Brunch was fun last sunday we should do this more often. Join away!" required></textarea>
                </label>
            </div>
        </ion-list>
		<div class="form-errors"
		   ng-show="signinForm.$error && signinForm.$submitted"
		   ng-messages="signinForm.$error"
		   ng-messages-include="templates/form-errors.html">
		</div>
        <ion-list>
            <!-- Picking contacts -->
            <button class="button button-block button-dark" ng-click="pickContact()">Select Your Buddies</button>
            <div class="list">
                <a class="item" ng-repeat="contact in data.selectedContacts">
                    <div class="row">
				    	<div class="col col-90">
					    	<h2>{{contact.displayName}}</h2>
							<p ng-if="contact.emails.length > 0">{{contact.emails[0].type}} : {{contact.emails[0].value}}</p>
							<p ng-if="contact.phones.length > 0">{{contact.phones[0].type}} : {{contact.phones[0].value}}</p>
				    	</div>
						<div class="col">
							<i class="icon ion-close-circled melon-icon " ng-click="contactDelete($index)"></i>
						</div>
		    		</div>
                </a>
            </div>
            <!-- Picking contacts ends here -->
            <div class="list">
                <button class="button button-block button-balanced" ng-click="addGroup(user)">Invite your wallet buddies</button>
            </div>
        </ion-list>
    </form>
    </ion-content>
</ion-view>
