<ion-view view-title="New Social Circle">

    <ion-content>
        <ion-list class="padding">
            <div class="list">
                <label class="item item-avatar" ng-click="selectPicture()">
                  <img ng-src="{{imageSrc}}">
			      <h2>Circle Photo</h2>
			      <p>Select a photo</p>
                </label>
            </div>
            
            <div class="list">
	            <p><b>&nbsp&nbspGive your circle a name</b></p>
                <label class="item item-input">
                    <input ng-model='user.groupName' type="text" placeholder="Eg. Sunday Brunch">
                </label>
            </div>
            
            <div class="list">
	            <p><b>&nbsp&nbspPick your plan</b></p>
                <label class="item item-input item-select">
                    <div class="input-label">
                        <p>Click to select a plan</p>
                    </div>
                    <select ng-model='user.plan'>
                        <option>weekly</option>
                        <option selected>biweekly</option>
                        <option>monthly</option>
                    </select>
                </label>
            </div>

            <div class="list">
                <p><b>&nbsp&nbspSet your payment amount</b></p>
                <label class="item item-input">
                    <input ng-model='user.amount' type="tel" placeholder="$ 50.00">
                </label>
            </div>

            <div class="list">
                <p><b>&nbsp&nbspSay something to your buddies</b></p>
                <label class="item item-input">
                    <textarea ng-model='user.groupMessage' placeholder="Brunch was fun last sunday we should do this more often. Join away!"></textarea>
                </label>
            </div>
        </ion-list>

        <ion-list>
            <!-- Picking contacts -->
            <button class="button button-block button-dark" ng-click="pickContact()">Select Your Buddies</button>
            <div class="list">
                <a class="item" ng-repeat="contact in data.selectedContacts">
                    <h2>{{contact.displayName}}</h2>
                    <p ng-if="contact.emails.length > 0">{{contact.emails[0].type}} : {{contact.emails[0].value}}</p>
                    <p ng-if="contact.phones.length > 0">{{contact.phones[0].type}} : {{contact.phones[0].value}}</p>
                </a>
            </div>
            <!-- Picking contacts ends here -->
            <div class="list">
                <button class="button button-block button-balanced" ng-click="addGroup(user)">Invite your wallet buddies</button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>