<ion-view hide-back-button="true" view-title="Settings">
    <ion-content class="pageBG" padding="true">
    	<div class="list card">
	      <div class="item item-divider item-dark">
		      {{data.firstname}} {{data.lastname}}'s Profile
	      </div>
	      <label class="item item-thumbnail-left" ng-click="selectPicture()">
	        <img ng-src="{{data.profilePhoto}}">
	        <br>
		    <p ng-if="!data.profilePhoto">Add Photo</p>
	      </label>
	      <label class="item item-input">
			  <input ng-model='data.email' type="text" placeholder="Email">
		      <i class="icon ion-edit"></i> &nbsp &nbsp &nbsp
          </label>
          <label class="item item-input">
			  <input ng-model='data.phonenumber' type="text" placeholder="Phone">
		      <i class="icon ion-edit"></i> &nbsp &nbsp &nbsp
          </label>
		  <a ng-click="account()" class="item item-icon-left">
		    <i class="icon ion-card"></i>
            <div class="item-text-wrap" ng-if="!data.Stripe.Debits.stripe_bank_account_token || !data.Stripe.Debits.customer_id">
		        Setup Your Bank Account For Debits
            </div>
            <div ng-if="data.Stripe.Debits.stripe_bank_account_token || data.Stripe.Debits.customer_id">
                Change Your Bank Account
            </div>
		    <p ng-if="data.Stripe.Debits.stripe_bank_account_token || data.Stripe.Debits.customer_id" style="color: #62ce6b">Status: Debits Enabled</p>
		    <p ng-if="!data.Stripe.Debits.stripe_bank_account_token || !data.Stripe.Debits.customer_id" style="color: red">Status: No Account Linked</p>
		  </a>
		  <a ng-click="accountCredit()" class="item item-icon-left">
		    <i class="icon ion-cash"></i>
            <div class="item-text-wrap" ng-if="!data.Stripe.Credits.stripe_bank_account_token || !data.Stripe.Credits.stripe_connect_account_id">
		        Setup Your Bank Account For Receiving Credits
            </div>
            <div ng-if="data.Stripe.Credits.stripe_bank_account_token && data.Stripe.Credits.stripe_connect_account_id">
                Change Your Bank Account
            </div>
		    <p ng-if="data.Stripe.Credits.stripe_bank_account_token && data.Stripe.Credits.stripe_connect_account_id" style="color: #62ce6b">Status: Credits Enabled</p>
		    <p ng-if="!data.Stripe.Credits.stripe_bank_account_token || !data.Stripe.Credits.stripe_connect_account_id" style="color: red">Status: No Account Linked</p>
		  </a>
		  <a ng-click="newPassword()" class="item item-icon-left">
		    <i class="icon ion-ios7-unlocked"></i>
		    Reset Password
		  </a>
		  <a ng-click="survey()" class="item item-icon-left">
		    <i class="icon ion-checkmark-circled"></i>
		    Survey
		  </a>
		</div>
		<div align="center">
    	<button class="button button-outline button-dark" ng-click="signOut()">
		  Sign out
		</button>
    	</div>
    </ion-content>
</ion-view>
