<ion-view  hide-back-button="true" view-title="Requests">
    <ion-content ng-show="circles != 0">
        <ion-list>
            <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="circle in circles track by $index" href="#/tab/requests/{{circle.circleID}}">
            <img src="http://walletbuddies.co/img/NewLogo.png">
            <b>{{circle.invitorName}}</b> invited you to join the circle <b>{{circle.circleName}}</b></p>
				<button class="button button-small button-outline button-balanced">
					View Request
				</button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-content ng-show="circles == 0" class="no-data">
    	<h3 style="color: gray">
			No Requests
    	</h3>
    </ion-content>
</ion-view>