<ion-view view-title="Requests">
    <ion-content>
        <ion-list>
            <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="circle in circles" href="#/tab/requests/{{circle.circleID}}">
            <img src="http://walletbuddies.co/img/NewLogo.png">
            You were invited to join the social circle <b>{{circle.circleName}}</b></p>
				<button class="button button-small button-outline button-balanced">
				View Request
				</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>