<ion-view hide-back-button="true" view-title="Feed">
    <ion-content class="pageBG">
        <div class="card" ng-repeat="message in newsfeed | reverse">
		    <div class="item item-text-wrap">
			    <div class="row">
				    <div class="col">
		        	<i class="icon {{message.icon}} {{message.color}}"></i>
				    </div>
				    <div class="col col-80" ng-bind-html="renderHTML(message.feed)"></div>
		    	</div>
		    	<div class="row time-detail">
			    	<div class="col">
				    </div>
			    	<div class="col col-80">
                  	<span>{{message.time | date:'H:mm'}} - {{message.time | date:'d MMM yyyy'}}</span>
			    	</div>
              	</div>
	    	</div>
    	</div>
    </ion-content>
</ion-view>