<ion-view view-title="Link your account">
    <ion-content padding="true">
        <div class="card">
            <div class="item">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Select your bank
                    </div>
                    <select ng-model="user.id" ng-required="true">
                        <option ng-repeat="inst in institutions.banks" ng-selected="inst.id == user.id" value="{{inst.id}}">{{inst.bank_name}}</option>
                    </select>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Online ID</span>
                    <input type="text" placeholder="Online ID" ng-model="user.username" ng-required="true">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="user.password" ng-required="true">
                </label>
                <ion-list>
                    <div class="checkbox required item-text-wrap">
                        <ion-checkbox ng-model="isChecked"> By clicking here, I agree to authorize WalletBuddies Inc., to debit and credit funds on my behalf from my bank account for services provided by WalletBuddies App. Click here <a href = "http://walletbuddies.co/TOS/TOS.pdf">[Terms and Conditions] </a>for details.</ion-checkbox>
                    </div>
                </ion-list>
            </div>
        </div>
        
        <button ng-click="connect(user)" class="button button-full button-balanced">Connect</button>        
    </ion-content>
</ion-view>