<ion-view hide-back-button="true" view-title="Settings">
    <ion-content class="pageBG" padding="true">
    	<div class="list card">
	      <div class="item item-divider item-dark">
		      {{data.firstname}} {{data.lastname}}'s Profile
	      </div>
	      <label class="item item-thumbnail-left" ng-click="selectPicture()">
	        <img ng-src="{{data.profilePhoto}}">
	        <br>
		    <p ng-if="!data.profilePhoto">Add Photo</p>
	      </label>
	      <label class="item item-input">
			  <input ng-model='data.email' type="text" placeholder="Email">
		      <i class="icon ion-edit"></i> &nbsp &nbsp &nbsp
          </label>
          <label class="item item-input">
			  <input ng-model='data.phonenumber' type="text" placeholder="Phone">
		      <i class="icon ion-edit"></i> &nbsp &nbsp &nbsp
          </label>
		  <a ng-click="account()" class="item item-icon-left">
		    <i class="icon ion-card"></i>
            <div ng-if="!data.Payments.Bank.account_num || !data.Payments.KYC.oid">
		        Link your bank account
            </div>
            <div ng-if="data.Payments.Bank.account_num && data.Payments.KYC.oid">
                Edit your bank account
            </div>
		    <p ng-if="data.Payments.Bank.account_num && data.Payments.KYC.oid">Linked Account: xxxx-xxxx-{{data.Payments.Bank.account_num}}</p>
		    <p ng-if="!data.Payments.Bank.account_num || !data.Payments.KYC.oid">No account linked</p>
		  </a>
		  <a ng-click="newPassword()" class="item item-icon-left">
		    <i class="icon ion-ios7-unlocked"></i>
		    Reset Password
		  </a>
		  <a ng-click="survey()" class="item item-icon-left">
		    <i class="icon ion-checkmark-circled"></i>
		    Survey
		  </a>
		</div>
		<div align="center">
    	<button class="button button-outline button-dark" ng-click="signOut()">
		  Sign out
		</button>
    	</div>
    </ion-content>
</ion-view>
