<ion-view hide-back-button="true" view-title="Settings">
    <ion-content class="pageBG" padding="true">
    	<div class="list card">
		  <a ng-click="account()" class="item item-icon-left">
		    <i class="icon ion-card"></i>
		    Link your bank account
		  </a>	
		  <a ng-click="newPassword()" class="item item-icon-left">
		    <i class="icon ion-unlocked"></i>
		    Reset Password
		  </a>	
		  <a ng-click="signOut()" class="item item-icon-left">
		    <i class="icon ion-log-out"></i>
		    Sign out
		  </a>
		  <a ng-click="survey()" class="item item-icon-left">
		    <i class="icon ion-checkmark-circled"></i>
		    Survey
		  </a>		
		</div>
    </ion-content>
</ion-view>