<ion-view hide-back-button="true" view-title="Wallet">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-compose" ng-click="newCircle()"></a>
    </ion-nav-buttons>
    <ion-content ng-show="circles != 0">
        <ion-list>
            <ion-item class="item item-thumbnail-left item-text-wrap item-remove-animate item-icon-right" ng-repeat="circle in circles | reverse" href="#/tab/wallet/{{circle.circleID}}">
                <img ng-src="{{circle.circlePhoto}}">
                <p>
                    <br><b>{{circle.circleName}}</b></br>
                </p>
                <p>${{circle.amount}} {{circle.plan}}</p>
                <p ng-if="circle.circleComplete !== false" style="color:#30c0cb">Completed</p>

                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
                <span ng-if="circle.Members[id].badgeCounter !== 0" class="badge badge-dark">{{circle.Members[id].badgeCounter}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-content ng-show="circles == 0" class="no-data">
        <h3 style="color: gray">
			No Circles
    	</h3>
    </ion-content>
</ion-view>
