<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs ng-class="{'tabs-item-hide': shouldHide()}" class="tabs-icon-top tabs-color-active-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Feed" badge="counter.Badges.feedCounter" badge-style='badge-assertive' icon-off="ion-ios7-paper" icon-on="ion-ios7-paper" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

    <!-- Wallet Tab -->
  <ion-tab title="Wallet" badge="counter.Badges.walletCounter" badge-style='badge-assertive' icon-off="ion-cash" icon-on="ion-cash" href="#/tab/wallet">
    <ion-nav-view name="tab-wallet"></ion-nav-view>
  </ion-tab>

  <!-- Requests Tab -->
  <ion-tab title="Requests" badge="counter.Badges.requestCounter" badge-style='badge-assertive' icon-off="ion-heart" icon-on="ion-heart" href="#/tab/requests">
    <ion-nav-view name="tab-requests"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios7-gear" icon-on="ion-ios7-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>