<ion-view>
    <ion-nav-title>
        <h1 class="title text-wrap">{{circle.circleName}}</h1>
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-large button-clear" ng-click="chat()">
        	Chat<span ng-if="circle.Members[id].badgeCounter !== 0" class="badge badge-dark">{{circle.Members[id].badgeCounter}}</span>
		</button>
    </ion-nav-buttons>
    <ion-content class="pageBG">
        <div align="center">
            <div class="padding-bottom"></div>
            <input id="locationText" type=”text” placeholder=”Location” data-tap-disabled="true" ng-model="meetupLocation" autocomplete="off">
            <!--<button class="button button-outline button-balanced" ng-click="chat()">
                <span ng-if="circle.Members[id].badgeCounter !== 0" class="badge badge-dark">{{circle.Members[id].badgeCounter}}</span>Group Chat
            </button>-->
            <button class="button button-clear button-balanced" ng-click="meetNow()">Let's Meet</button>
        </div>
        <div align="center" style="padding: 10px; margin: 10px 10px 10px 10px; background-color: transparent; border-radius: 5px; border: 0px solid #777777" ng-if="!circle.requestsExpired && counter">
	        <p style="color: #555555; font-size: large;"><span style="font-size: xx-large; padding-right: 10px">📢</span>{{circle.circleName}} kicks off in</p>
			<span style="color: #555555; font-size: 21px;">{{counter}}</span>
        </div>
        <div class="card">
            <label class="item item-thumbnail-left item-text-wrap" ng-click="selectPicture()">
                <img ng-src="{{circle.circlePhoto || getInitials(circle.circleName)}}">
                <br>
                <h2>{{circle.circleName}}</h2>
                <p ng-if="circle.circlePhoto">Edit</p>
                <p ng-if="!circle.circlePhoto">Add Photo</p>
            </label>
            
            <!-- This section is for non-admins of a Singular circle -->
            <div class="item" ng-if="!circle.requestsExpired">
              <p><b style="padding-left: 10px; font-size: medium">Invitees</b></p>
		      <div class="row">
			    <div class="col" style="vertical-align: top; display: inline-block; text-align: center; width: 120px;" ng-repeat="invitee in invitees">
					<img style="width: 40px; height: 40px; border-radius: 50%; bottom: 10px;" ng-if="invitee.Status==true" ng-src="img/acceptedImage.png"/>
					<img style="width: 40px; height: 40px; border-radius: 50%; bottom: 10px;" ng-if="invitee.Status!=true" ng-src="img/pendingImage.png"/>
					<span style="display: block">{{invitee.name}}</span>
				</div>
              </div>
            </div>
            
            <div class="item" ng-if="circle.circleType=='Singular' && circle.requestsExpired">
                <!--<b style="padding-left: 10px; margin-bottom: 10px">Buddies</b>-->
                <div class="row">
				<div class="col" style="vertical-align: top; display: inline-block; text-align: center; width: 120px;" ng-repeat="member in circle.AcceptedMembers">
					<img style="width: 40px; height: 40px; border-radius: 50%; bottom: 10px;" ng-src="{{member.profilePhoto || getInitials(member.firstName, $index)}}"/>
					<span style="display: block">{{member.firstName}}</span>
				</div>
            	</div>
            </div>
            
            <!-- This section is for the admin of a Singular circle -->
            <div class="item item-divider item-dark" ng-if="circle.circleType=='Singular' && circle.Members[id].Priority==0">
                <div class="row">
                    <div class="col" style="padding-top: 12px" ng-if="!circle.requestsExpired"><b>Invite more buddies</b></div>
                    <div class="col" style="padding-top: 12px" ng-if="circle.requestsExpired"><b>Add more buddies</b></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col button-icon" ng-click="selectContacts()" style="text-align: right"><span class="icon ion-ios7-plus-outline"></span></div>
                </div>
            </div>
            
            <!-- This section is for a Regular circle
            <div class="item" ng-if="circle.circleType!='Singular' && !circle.requestsExpired">
              <p><b style="padding-left: 10px; font-size: medium">Invitees</b><p>
		      <div class="row">
				<div class="col" ng-repeat="contact in circle.contacts">
					<span style="color: #555555; font-size: medium">{{contact.name}}</span>
				</div>
              </div>
            </div>-->
            
            <div class="item" ng-if="circle.circleType!='Singular' && circle.requestsExpired">
                <!--<b style="padding-left: 10px; margin-bottom: 10px">Buddies</b>-->
                <div class="row">
				<div class="col" style="vertical-align: top; display: inline-block; text-align: center; width: 120px;" ng-repeat="member in circle.AcceptedMembers">
					<img style="width: 40px; height: 40px; border-radius: 50%; bottom: 10px;" ng-src="{{member.profilePhoto || getInitials(member.firstName, $index)}}"/>
					<span style="display: block">{{member.firstName}}</span>
				</div>
            	</div>
            </div>            

            <!--<div class="item"  ng-click="openModal(member)">
                <div ng-if="member.admin==true">
                    {{member.firstName}} (Admin)
                </div>
                <div ng-if="member.admin==false">
                    <div class="row">
						<div class="col" ng-repeat="member in members">
							<img class="profile-pic" ng-src="{{member.profilePhoto}}"/>
							{{member.firstName}}
						</div>
                    </div>
                </div>
            </div>-->
            
            <div class="item item-text-wrap" ng-if="debit" ng-repeat="date in debit">
	            <p><b style="font-size: medium">Plan</b></p>
		        <p style="color: #555555; font-size: medium">
			        <span style="color: #30c0cb;">
				        ${{circle.amount}} {{circle.plan}}
				    </span>
				    <span>: Debits for current cycle will be initiated on <b>{{date.debitDate}}</b></span>
				</p>
            </div>
            
            <div class="item item-text-wrap" ng-if="!circle.requestsExpired || circle.circleCancelled || circle.circleComplete">
	            <p><b style="padding-left: 10px; font-size: medium">Plan</b></p>
	            <div style="color: #555555; font-size: medium; color: #30c0cb; margin-left: 10px">${{circle.amount}} {{circle.plan}}</div>
            </div>
            
            
            <div class="item item-text-wrap" ng-if="credit" ng-repeat="date in credit">
	            <p><b style="font-size: medium">Pool Amount</b></p>
	            <span style="color: #555555; font-size: medium">
	            	<span style="color: #30c0cb">
	            		${{circle.amount * fbMembers.length}}
	            	</span> will be credited to the group on <b>{{date.notificationDate}}</b>
	            </span>
            </div>
            <div class="item item-text-wrap" ng-if="!circle.requestsExpired || circle.circleCancelled || circle.circleComplete">
	            <p><b style="padding-left: 10px; font-size: medium">Pool Amount</b></p>
                <p style="padding-left: 10px; color: #555555; font-size: medium">
                	<span style="color: #30c0cb">
                		${{circle.amount * fbMembers.length}}
                	</span> will be credited to the group
                </p>
            </div>
            
            <div class="item item-text-wrap" ng-if="circle.circleType=='Singular'">
		      <p><b style="font-size: medium">Group Type &nbsp</b></p> <p style="font-size: medium"><b style="color: #333333">Captain Group</b>: {{circle.invitorName}} is the Admin for this Group. The Pooled Amount for this group will go to {{circle.invitorName}} {{circle.plan}}.</p>
		    </div>
		    <div class="item item-text-wrap" ng-if="circle.circleType=='Rotational'">
		      <p><b style="font-size: medium">Group Type &nbsp</b></p> <p style="font-size: medium"><b style="color: #333333">Crew</b>: Everyone gets a shot at being the Captain. The Pooled Amount will go to a randomly chosen person in this Group {{circle.plan}}. Every member gets the Pool Amount once.</p>
		    </div>
            
            <div class="item item-text-wrap" ng-if="circle.circleCancelled || circle.circleComplete">
	            <p><b style="font-size: medium">Group Status</b></p>
                <span style="color: #555555; font-size: medium">This group has now ended. No new transactions will be initiated. Pending credits will be completed.</span>
            </div>
            
            <!-- Picking contacts -->
            <div class="item" ng-if="data.selectedContacts.length!=0">
                Selected Contacts
            </div>
            <div class="list">
                <a class="item" ng-repeat="contact in data.selectedContacts">
                    <div class="row">
                        <div class="col col-90">
                            <h2>{{contact.name}}</h2>
                            <p ng-if="contact.email">{{contact.emailType}} : {{contact.email}}</p>
                            <p>{{contact.phoneType}} : {{contact.phone}}</p>
                        </div>
                        <div class="col">
                            <i class="icon ion-close-circled melon-icon " ng-click="contactDelete($index)"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="padding" ng-if="data.selectedContacts.length!=0">
                <button class="button button-block button-dark" ng-click="selectContacts()">Add More</button>
            </div>
            <!-- Picking contacts ends here -->
            
            <div ng-if="data.selectedContacts.length!=0" style="padding-left: 20px; padding-right: 20px">
                <p style="background-color: #d5eef7; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px"><b>Here's how your group will change:</b> WalletBuddies will debit <b>${{circle.amount}}</b> from everyone <b>{{circle.plan}}</b> and the pooled amount of <b>${{circle.amount * (fbMembers.length+data.selectedContacts.length)}}</b> will be credited to <b>you</b>.</p>
            </div>
            <div class="list padding" ng-if="data.selectedContacts.length!=0">
                <button class="button button-block button-balanced" ng-click="addGroup()">Invite</button>
            </div>
        </div>
        <div align="center" ng-if="circle.circleType=='Singular' && circle.Members[id].Priority==0 && circle.circleCancelled==false">
            <div class="list">
                <button class="button button-outline button-dark" ng-click="cancelCircle()">End Group</button>
            </div>
        </div>
    </ion-content>
</ion-view>

<script id="contacts-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
            <h1 class="title">Pick your buddies</h1>
            <div class="button button-clear" ng-click="modal.hide()">Done</div>
        </ion-header-bar>
        <div class="bar bar-subheader bar-light item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search Contacts" ng-model="search.name.formatted" ng-change="scrollTop()">
            </label>
        </div>
        <ion-content class="has-subheader">
            <ion-list>
                <div ng-repeat="contact in contacts | filter:search" ng-init="parentIndex=$index" collection-item-height="itemheight(contact.phoneNumbers.length)" collection-item-width="'100%'" style="width:100%">
                    <ion-item>
                        <ion-checkbox ng-repeat="phoneNumber in contact.phoneNumbers" style="border:none;" ng-model="phoneNumber.selected" ng-init="actIndex=$index" ng-click="phoneSelect(contact, phoneNumber)">
                            <div>
                                <h5>{{contact.name.formatted}}</h5></div>
                            <div>
                                <p style="font-size: smaller">{{phoneNumber.type}} {{phoneNumber.value}}</p>
                            </div>
                        </ion-checkbox>
                    </ion-item>
                </div>
            </ion-list>
        </ion-content>
    </ion-modal-view>
</script>

<script id="display-contact-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-content has-header="true" style="margin-top: 0px !important;">
            <div class="list">
                <div class="item item-avatar item-text-wrap">
                    <img ng-src="{{memberToDisplay.profilePhoto}}">
                    <h2 style="padding-top: 25px; padding-left: 25px"><b>{{memberToDisplay.firstName}} {{memberToDisplay.lastName}}</b></h2>
                </div>
                <a class="item item-icon-left">
                    <i class="icon ion-iphone"></i> {{memberToDisplay.phone}}
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-email"></i> {{memberToDisplay.email}}
                </a>
            </div>
            <button class="button button-block button-lsi" ng-click="closeModal()">Close Contact</button>
        </ion-content>
    </div>
</script>
